<% provide(:title, "Homepage") %>

<div class="mainCont">
    
    <%=image_tag("tiger.jpg", :class => "welcomeIm") %>
    
    <h1>Homepage</h1>
    
    <p>Welcome to the new Bee Sharp Records homepage</p>
    
    <br>
    
    <p>Later we will fill this with dynamic content.....</p>
    
    
</div>
